<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shentu.g3.core.whitebroad.repository.WbApiConfigDao">
	<!--auto generated Code-->
	<resultMap id="BaseResultMap" type="com.shentu.g3.core.whitebroad.entity.WbApiConfigEntity">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="api_name" property="apiName" jdbcType="VARCHAR"/>
		<result column="api_host" property="apiHost" jdbcType="VARCHAR"/>
		<result column="api_uri" property="apiUri" jdbcType="VARCHAR"/>
		<result column="backend_class" property="backendClass" jdbcType="VARCHAR"/>
		<result column="backend_method" property="backendMethod" jdbcType="VARCHAR"/>
		<result column="need_session" property="needSession" jdbcType="TINYINT"/>
		<result column="available" property="available" jdbcType="TINYINT"/>
		<result column="param_valid_rule" property="paramValidRule" jdbcType="VARCHAR"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<!--auto generated Code-->
	<sql id="all_column">
        id,
        api_name,
        api_host,
        api_uri,
        backend_class,
        backend_method,
        need_session,
        available,
        param_valid_rule,
        description,
        operator,
        create_time,
        update_time
    </sql>

	<!--auto generated Code-->
	<insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO wb_api_config (
            id,
            api_name,
            api_host,
            api_uri,
            backend_class,
            backend_method,
            need_session,
            available,
            param_valid_rule,
            description,
            operator,
            create_time,
            update_time
        ) VALUES (
            #{pojo.id},
            #{pojo.apiName},
            #{pojo.apiHost},
            #{pojo.apiUri},
            #{pojo.backendClass},
            #{pojo.backendMethod},
            #{pojo.needSession},
            #{pojo.available},
            #{pojo.paramValidRule},
            #{pojo.description},
            #{pojo.operator},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

	<!-- 查询api -->
    <select id="selectApiInfoByUri" resultMap="BaseResultMap" parameterType="java.lang.String" >
    	select 
			<include refid="all_column" />  
	      from wb_api_config 
	     where api_uri = #{apiUri}
	       and available = 1
    </select>
    
    <!-- 查询用户token信息 -->
    <select id="selectAllApi" resultMap="BaseResultMap">
    	select 
			<include refid="all_column" />  
	      from wb_api_config
	     where available = 1
    </select>
    
</mapper>

